  <footer class="page-footer">

    <!--
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">金矢科技</h5>
          <p class="grey-text text-lighten-4">
          我们成立于2014年10月，是由几个热爱技术的小伙伴组成的，创立之初帮助传统行业企业开发网站，APP。2015年6月开始搭建Austack服务，2015年8月，原型上线。我们希望通过创新、诚实和勤奋工作，给开发者提供优秀的产品、服务，帮助开发者提高生产力。
          </p>
        </div>
      
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">服务</h5>
          <ul>
            <li><a class="white-text" href="http://www.austack.com">首页</a></li>
            <li><a class="white-text" href="http://console.austack.com">控制台</a></li>
            <li><a class="white-text" href="https://github.com/arrking/austack-issues/wiki">文档</a></li>
            <li><a class="white-text" href="https://github.com/arrking/austack-issues/issues">技术支持</a></li>
          </ul>
        </div>
      </div>
    </div>
    -->
    
    <div class="footer-copyright">
      <div class="container">
      	<a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}
      </div>
    </div>
  </footer>